<div class="breadcrumb-wrap">
	<div class="breadcrumb clearfix">
		<a href="/"><img src="/dist/img/aboutUs/shouye_icon.png" height="18" class="hone-icon"/>&nbsp;首页>></a>
		<a href="">解决方案>></a>
		<a class="active">智慧餐饮</a>
	</div>
</div>