<footer>
	<!--申请使用开始-->
	<!-- <div class="apply">
		<div class="w apply_w">
			<div class="use">
				<div class="use_1">
					<span class="h4">申请使用</span>&nbsp;<span>请填写信息，童忆园期待与您携手共创家园共育美好未来</span>
					<p>专属客服将在<strong>24</strong>小时内与您联系，快速开通客服电话：<strong>0371-65715652</strong></p>
				</div>
				<div class="use_2">
					<input type="text" placeholder="学校名称(必填)" /><br />
					<input type="text" placeholder="您的手机号(必填)" />&nbsp;&nbsp;
					<input type="text" placeholder="您的姓名(必填)" /><br />
				</div>
				<div class="use_3">
					<p>请选择您的身份</p>
					<div class="line">
						<span class="active">园长</span><span>投资人</span><span>代理商</span><span>其他</span>
					</div>
					<p>请选择您的学校规模</p>
					<div class="line">
						<span class="active">单园</span><span>集团连锁园</span>
					</div>
				</div>
				<div class="use_4">提交申请</div>
			</div>
		</div>
	</div> -->
	<!--申请使用结束-->

	<!--关注联系下载开始-->
	<div class="about">
		<div class="w about_w clearfix">
			<ul class="fl attention">
				<li>
					<p>联系我们</p>
				</li>
				<li>
					<p>客服电话:0371-65718573</p>
				</li>
				<li>
					<p>招商电话:0371-65725698</p>
				</li>
				<li>
					<p>公司地址:河南省郑州市金水区经三路21号远洋大厦</p>
				</li>
			</ul>
			<ul class="fl relation">
				<li class="f-titile">
					<a href=""  class="title">解决方案</a>
				</li>
				<li>
					<a href="">教育行业</a>
				</li>
				<li>
					<a href="">移动办公</a>
				</li>
				<li>
					<a href="">小程序</a>
				</li>
				<li>
					<a href="">增值业务</a>
				</li>
			</ul>
			<ul class="fl relation">
				<li class="f-titile">
					<a href=""  class="title">应用案例</a>
				</li>
				<li>
					<a href="">智慧校园</a>
				</li>
				<li>
					<a href="">神州乐办</a>
				</li>
				<li>
					<a href="">小程序</a>
				</li>
				<li>
					<a href="">定制开发</a>
				</li>
			</ul>
			<ul class="fl relation">
				<li class="f-titile">
					<a href="" class="title">渠道合作</a>
				</li>
				<li>
					<a href="">代理商申请</a>
				</li>
				<li>
					<a href="">代理商政策介绍</a>
				</li>
			</ul>
			<ul class="fl relation pr0">
				<li class="f-titile">
					<a href="" class="title">关于我们</a>
				</li>
				<li>
					<a href="">宇信介绍</a>
				</li>
				<li>
					<a href="">企业文化</a>
				</li>
				<li>
					<a href="">业务体系</a>
				</li>
				<li>
					<a href="">发展历程</a>
				</li>
			</ul>
		</div>
	</div>
	<!--关注联系下载结束-->
</footer>

<script type="text/javascript">
	$(document).ready(function() {
		//导航链接跳转
		$('.head-wrap .nav a').each(function() {
			if($($(this))[0].href == String(window.location))
				$(this).addClass('active').attr('href', 'javascript:void(0);');
				$('.head-wrap .nav .help').css("color","#000000");
		});
		$('.product-nav  a').each(function() {
			if($($(this))[0].href == String(window.location))
				$(this).addClass('active').attr('href', 'javascript:void(0);');
				$('.head-wrap .nav .product').addClass('active').attr('href', 'javascript:void(0);');
		});
		
		//选择信息
		$(".line span").on("click",function(){
			$(this).addClass("active").siblings().removeClass("active");
		})
	})
</script>