<header class="head-wrap">
	<div class="head clearfix">
		<a class="logo"  href="" title=""><img src="/dist/img/index/logo.png" width="159" height="40" title="" alt=""></a>
		<div class="r-wrap">
			<div class="nav">
				<a href="/">首页</a>
				<a href="/pages/solution/shopping">解决方案</a>
				<a href="/pages/solution/food">应用案例</a>
				<a href="/pages/news/news">渠道合作</a>
				<a href="/pages/aboutUs/about_us">关于我们</a>
			</div>
			<span class="tel">call：0371-55667788</span>
			<label class="gzh"><img src="/dist/img/index/ruanjiandingzhi_icon.png" width="50" height="50" title="" alt="">公众号</label>
		</div>
	</div>
</header>