<header class="head-wrap">
	<div class="head clearfix">
		<a class="logo" href="" title=""><img src="/dist/img/index/logo.png" width="159" height="40" title="" alt=""></a>
		<div class="r-wrap">
			<div class="nav">
				<div class="item">
					<a href="/" class="link">首页</a>
				</div>
				<div class="item">
					<a href="/pages/solution/shopping" class="link">解决方案</a>
					<div class="nav2 clearfix ">
						<ul>
							<li class="title">教育行业</li>
							<li>
								<a href="">智慧校园</a>
							</li>
							<li>
								<a href="">教育监管平台</a>
							</li>
						</ul>
						<ul>
							<li class="title">移动办公</li>
							<li>
								<a href="">神州乐办</a>
							</li>
						</ul>
						<ul>
							<li class="title">小程序</li>
							<li>
								<a href="/pages/solution/shopping">分销商城</a>
							</li>
							<li>
								<a href="/pages/solution/food">餐饮服务</a>
							</li>
							<li>
								<a href="">其他服务</a>
							</li>
						</ul>
						<ul>
							<li class="title">增值业务</li>
							<li>
								<a href="">定制开发</a>
							</li>
							<li>
								<a href="">运营推广</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<a href="/pages/solution/food" class="link">应用案例</a>
					<div class="nav2 yyal clearfix">
						<ul>
							<li class="title">教育行业</li>
							<li>
								<a href="">智慧校园</a>
							</li>
							<li>
								<a href="">教育监管平台</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<a href="/pages/cooperation/cooperation" class="link">渠道合作</a>
				</div>
				<div class="item">
					<a href="/pages/aboutUs/aboutUs" class="link">关于我们</a>
				</div>
			</div>
			<span class="tel">call：0371-55667788</span>
			<label class="gzh"><img src="/dist/img/index/ruanjiandingzhi_icon.png" width="50" height="50" title="" alt="">公众号</label>
		</div>
	</div>
</header>