<div class="product-nav-wrap">
	<ul class="product-nav clearfix">
		<li>
			<a href="/pages/product/bloc_mange">
				<i class="icon"></i>
				<text>集团管理</text>
			</a>
		</li>
		<li>
			<a href="/pages/product/class_mange">
				<i class="icon"></i>
				<text>园务管理</text>
			</a>
		</li>
		<li>
			<a href="/pages/product/edu_teaching">
				<i class="icon"></i>
				<text>教务教学</text>
			</a>
		</li>
		<li>
			<a href="/pages/product/interactive_home">
				<i class="icon"></i>
				<text>家园互动</text>
			</a>
		</li>
		<li>
			<a href="/pages/product/safety">
				<i class="icon"></i>
				<text>安全健康</text>
			</a>
		</li>
		<li>
			<a href="/pages/product/recruit_student">
				<i class="icon"></i>
				<text>宣传招生</text>
			</a>
		</li>

	</ul>
</div>