@charset "UTF-8";
body {
    font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif; 
    min-width: 1200px; 
}
article, aside, blockquote, body, button, dd, div, dl, dt, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, input, legend, li, menu, nav, ol, p, pre, section, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none; 
    color: #000;
    &:hover,
    &:focus {
       opacity: 0.7;
        text-decoration: none; 
    }
}
.hide{
    display: none;
}
.tc{
    text-align: center !important;
}
.tl{
    text-align: left !important;
}
.tr{
    text-align: right !important;
}
.fl {
    float: left;
}

.fr {
    float: right;
}
.clearfix:after{
	content:"";
	clear:both;
	display:block;
	visibility:hidden;
	height:0
}
.clearfix{
	   zoom:1;
 }
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.relation{
    position: relative;
}
.hide {
    display: none !important;
}
.min-w{
    min-width: 1000px;
}
.fff{
    color: #fff !important;
}

.pr0{
    padding-right: 0 !important;
}
.pr10{
    padding-right: 10px !important; 
}
.pr20{
    padding-right:20px !important;
}
.pr30{
    padding-right: 30px !important;
}
.pb0{padding-bottom: 0;}
.pt10{padding-top: 10px;}
.pl200{
    padding-left: 200px;  
}
.pl140{
    padding-left: 140px;  
}
.pb30{
    padding-bottom: 30px !important;
}
.relative{
    position: relative;  
} 
img{
    vertical-align: middle;
}
.pl80{
    padding-left: 80px;
}
.mt120{
    margin-top: 120px !important;
}
.mb20{
margin-bottom: 20px;
}
.w1000{
    width: 1200px;
    margin: 0 auto;
}
