<% include ./meta.ejs %>
<meta name="keywords" content="童忆园,tongyiyuan,童忆学院,童忆园官网,宇信科技童忆园,童忆园下载,童忆园家长版,童忆园老师版,幼儿园,幼儿园管理,育儿教育,家园共育,家园沟通" />
<meta name="description" content="童忆园致力于通过大数据及物联网技术,为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案,帮助幼儿园解决管理、沟通、培训、招生等运营中的痛点,实现智能化管理,真正做到让园方更省心,让家长更放心。" />
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ./modules/header.ejs %>
	<!--轮播图-->
	<div class="banner banner1">
		<ul class="banner-ul">
			<li>
				<img src="/dist/img/index/home_banner.png" width="100%" title="童忆园-智慧校园云平台" alt="构建全业务服务体系，助力幼儿园提升综合竞争力">
			</li>
			<li>
				<img src="/dist/img/index/home_banner.png" width="100%" title="童忆园-智慧校园云平台" alt="构建全业务服务体系，助力幼儿园提升综合竞争力">
			</li>
			<!--<li>
				<img src="/dist/img/index/home_banner.png" width="100%" title="童忆园-智慧校园云平台" alt="构建全业务服务体系，助力幼儿园提升综合竞争力">
			</li>-->
		</ul>
		<a href="javascript:void(0);" class="unslider prev unslider-l" title="童忆园-智慧校园云平台">
			<img class="arrow" id="al" src="/dist/img/index/home_left_arrow_white.png" alt="prev" width="20" height="35">
		</a>
		<a href="javascript:void(0);" class="unslider next unslider-r" title="童忆园-智慧校园云平台">
			<img class="arrow" id="ar" src="/dist/img/index/home_Right_arrow_white.png" alt="next" width="20" height="37">
		</a>
	</div>
	<!-- 智慧校园 -->
	<div class="comm-block-bg bg-zhxy">
		<div class="comm-block-tw">
			<div class="intro-wrap right100">
				<h2>智慧校园(童忆园)</h2>
				<p class="intro-text">智慧校园管理云平台，园所各项事务全面覆盖，直击管理核心难题，“硬件+软件+服务+移动互联网+云技术+大数据”创新组合。为园所提供教学教务、档案管理、健康管理、安全管理、财务管理等信息化管理服务，针对园所运营、宣传招生、师资培训、流程审批等需求提供一站式服务，提供线上线下相结合的园所咨询诊断、电子商城、行业社群交流等服务，帮园所经营管理者随时进行科学、高效、轻松、便捷的园务管理，实现标准化、流程化、精细化、无纸化的学校信息化管理模式</p>
				<a href="" class="btn">了解更多>></a>
			</div>
			<div class="intro-img left100">
				<img src="/dist/img/index/zhihui_app.png" />
			</div>
		</div>
	</div>
	<!-- 教育监管平台 -->
	<div class="comm-block-tw">
		<div class="intro-wrap left100">
			<h2>教育监管平台</h2>
			<h3 class="pl140">-----解决方案</h3>
			<p class="intro-text">智慧校园管理云平台，园所各项事务全面覆盖，直击管理核心难题，“硬件+软件+服务+移动互联网+云技术+大数据”创新组合。为园所提供教学教务、档案管理、健康管理、安全管理、财务管理等信息化管理服务，针对园所运营、宣传招生、师资培训、流程审批等需求提供一站式服务，提供线上线下相结合的园所咨询诊断、电子商城、行业社群交流等服务，帮园所经营管理者随时进行科学、高效、轻松、便捷的园务管理，实现标准化、流程化、精细化、无纸化的学校信息化管理模式</p>
			<a href="" class="btn">了解更多>></a>
		</div>
		<div class="intro-img right">
			<img src="/dist/img/index/jiaoyu_jianguan.png" />
		</div>
	</div>
	<!-- 移动销售管理专家 -->
	<div class="comm-block-bg bg-yd">
		<div class="comm-block ">
			<div class="intro">
				<h2>移动销售管理专家</h2>
				<p class="p-text">
					童忆园致力于通过大数据及物联网技术,为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案,帮助幼儿园解决管理、沟通、培训、招生等运营中的痛点,实现智能化管理,真正做到让园方更省心,让家长更放心。
				</p>
			</div>
			<a href="" class="btn btn-gary">了解更多>></a>
		</div>
	</div>
	<!-- 小程序制作 -->
	<div class="comm-block ">
		<div class="intro">
			<h2>小程序制作</h2>
			<p class="p-text">
				童忆园致力于通过大数据及物联网技术,为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案,帮助幼儿园解决管理、沟通、培训、招生等运营中的痛点,实现智能化管理,真正做到让园方更省心,让家长更放心。
			</p>
		</div>
		<div class="comm-nav clearfix">
			<div class="item">
				<img src="/dist/img/index/shangcheng_icon.png" alt="">
				<div class="type">商城小程序</div>
				<p class="text16">软件定制开发</p>
			</div>
			<div class="item">
				<img src="/dist/img/index/canyin_icon.png" alt="">
				<div class="type">智慧餐饮</div>
				<p class="text16">网站开发</p>
			</div>
			<div class="item">
				<img src="/dist/img/index/mendian_icon.png" alt="">
				<div class="type">万能门店</div>
				<p class="text16">APP定制开发</p>
			</div>
			<div class="item">
				<img src="/dist/img/index/guanwnag_icon.png" alt="">
				<div class="type">企业官网</div>
				<p class="text16">微信定制开发</p>
			</div>
		</div>
	</div>
	<!-- 定制研发 -->
	<div class="comm-block-bg bg-dz">
		<div class="comm-block ">
			<div class="intro">
				<h2>定制研发</h2>
				<p class="p-text">
					童忆园致力于通过大数据及物联网技术,为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案,帮助幼儿园解决管理、沟通、培训、招生等运营中的痛点,实现智能化管理,真正做到让园方更省心,让家长更放心。
				</p>
			</div>
			<div class="comm-nav clearfix">
				<div class="item">
					<img src="/dist/img/index/ruanjiandingzhi_icon.png" alt="">
					<p class="text">软件定制开发</p>
				</div>
				<div class="item">
					<img src="/dist/img/index/wangzhan_icon.png" alt="">
					<p class="text">网站开发</p>
				</div>
				<div class="item">
					<img src="/dist/img/index/appdingzhi_cion.png" alt="">
					<p class="text">APP定制开发</p>
				</div>
				<div class="item">
					<img src="/dist/img/index/wechat_icon.png" alt="">
					<p class="text">微信定制开发</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 运营推广服务 -->
	<div class="comm-block">
		<div class="intro">
			<h2>运营推广服务</h2>
			<p class="p-text">
				童忆园致力于通过大数据及物联网技术,为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案,帮助幼儿园解决管理、沟通、培训、招生等运营中的痛点,实现智能化管理,真正做到让园方更省心,让家长更放心。
			</p>
		</div>
		<div class="comm-nav clearfix">
			<div class="item">
				<img src="/dist/img/index/yunying_icon.png" alt="">
				<p class="text">运营培训</p>
			</div>
			<div class="item">
				<img src="/dist/img/index/kefu_icon.png" alt="">
				<p class="text">运营客服</p>
			</div>
			<div class="item">
				<img src="/dist/img/index/cehua_icon.png" alt="">
				<p class="text">营销策划</p>
			</div>
			<div class="item">
				<img src="/dist/img/index/neirong_icon.png" alt="">
				<p class="text">内容运营</p>
			</div>
			<div class="item">
				<img src="/dist/img/index/yinliu_icon.png" alt="">
				<p class="text">引流推广</p>
			</div>
		</div>
	</div>
	<!--尾部-->
	<% include ./modules/footer.ejs %>
</body>
<script src="/vendors/unslider.min.js"></script>

<script type="text/javascript">
	window.onresize = function () {
		var imgH = $(".banner1 img").height();
		$(".banner1").css('height', imgH + 'px')

	}
	$(document).ready(function (e) {

		//banner轮播
		var banner1 = $('.banner1').unslider({
				dots: true
			}),
			data1 = banner1.data('unslider');
		$('.unslider').click(function () {
			var fn1 = this.className.split(' ')[1];
			data1[fn1]();
		});
	});
</script>

</html>