@charset "UTF-8";
.enter-banner {
    width: 100%;
    height: 350px;
    background: url(/dist/img/login/enter_banner.png) no-repeat 50%;
}

.log,
.enter-inner {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 1px 1px 10px #ccc;
}

.log .logo {
    display: inline-block;
    width: 120px;
    height: 166px;
    background: url(/dist/img/login/logo.png) no-repeat;
    background-size: 120px 166px;
}

.username {
    position: relative;
    margin-top: 20px;
    width: 300px;
}

.username input {
    width: 100%;
    height: 38px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 38px;
    outline: none;
}

input:focus {
    border: 1px solid #89BC3D;
}

.enter-banner i {
    width: 20px;
    height: 25px;
    color: #ccc;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.username i {
    background: url(/dist/img/login/icon_user_name.png) center no-repeat;
}

.password i {
    background: url(/dist/img/login/icon_password.png) center no-repeat;
}

.enter-banner input {
    caret-color: $brand-primary;
}

.password {
    position: relative;
    margin-top: 15px;
    width: 300px;
}

.password input {
    width: 100%;
    height: 38px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 38px;
    outline: none;
}

input:focus {
    border: 1px solid #89BC3D;
}

.login {
    display: block;
    width: 340px;
    height: 42px;
    background-color: #89BC3D;
    margin-top: 18px;
    border-radius: 5px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.enter-inner {
    padding: 0;
    top: 130px;
    width: 400px;
    overflow: hidden;
    .title {
        background: #f0f0f0;
        padding: 20px;
        .lable {
            float: left;
        }
        .info {
            float: right;
            .exit {
                padding: 10px 20px;
                background: #89BC3D;
                color: #fff;
                border-radius: 12px;
                cursor: pointer;
                margin-left: 20px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .content {
        min-height: 260px;
        max-height: 300px;
        overflow-y: auto;
        padding: 16px;
        .item {
            cursor: pointer;
            float: left;
            background: #F0F0F0;
            border-radius: 6px;
            padding: 10px 0;
            margin-top: 10px;
            margin-right: 10px;
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
                opacity: 0.8;
            }
        }
        .item:nth-child(2n) {
            margin-right: 0;
        }
    }
}