@charset "UTF-8";
.banner-wrap {
    margin-top: 80px;
    img {
        width: 100%;
    }
}

.intro-fxzx {
    dl {
        padding-top: 20px;
        dt {
            float: left;
            margin-right: 20px;
        }
        dd {
            float: left;
            max-width: 500px;
            width: fit-content;
            line-height: 1.8;
        }
    }
}

.fxzx {
    width: 700px !important;
}

.p-gary {
    color: #666;
    line-height: 2;
    .circle {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: #878787;
        margin-right: 6px;
    }
}

.bg-hyzx {
    .p-gary {
        color: #fff;
        .circle {
            background: #fff;
        }
    }
}

.bg-spgl {
    background: url(/dist/img/solution/shopping/shangpingunali_bg.png) no-repeat center;
    background-size: cover;
}

.bg-cp {
    background: url(/dist/img/solution/shopping/chanpingongneng_bg.png) no-repeat center;
    background-size: cover;
}

.bg-hyzx {
    background: url(/dist/img/solution/food/dingdanguanli_bg.png) no-repeat center;
    background-size: cover;
}

.bg-list {
    background: url(/dist/img/solution/food/shangjiaxiangqing_bg.png) no-repeat center;
    background-size: cover;
}

.list-wrap {
    width: 1000px;
    margin: 0 auto;
    .item {
        cursor: pointer;
        width: 216px;
        padding-right: 20px;
        float: left;
        margin-bottom: 40px;
        height: 80px;
        dt {
            float: left;
        }
        dd {
            padding-left: 90px;
            text-align: left;
        }
        .row-1 {
            padding-top: 10px;
        }
        .row-2 {
            margin-top: 6px;
            font-size: 14px;
            color: #666;
        }
        img {
            transition: all 0.6s;
            &:hover {
                transform: scale(1.2) rotate(360deg);
            }
        }
    }
}

.wmdyx {
    .item {
        width: 30%;
        margin-bottom: 60px;
        padding-left: 15%;
    }
}

//订单类型
.order-type {
    text-align: center;
    margin-top: 20px;
    .item {
        display: inline-block;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 15px;
        text-align: center;
        cursor: pointer;
        .desc {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 40%;
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
            transition: top 0.5s;
            .type {
                font-size: 20px;
            }
            .intro {
                font-size: 16px;
            }
        }
        &:hover .desc {
            top: 100%;
        }
    }
}

//
.classify-list {
    .item {
        display: block;
        margin-bottom: 40px;
        img {
            margin: 0 20px;
        }
        span {
            display: inline-block;
            min-width: 90px;
        }
    }
    .left-wrap {
        float: left;
        margin-left: 220px;
    }
    .right-wrap {
        float: right;
        margin-right: 220px;
    }
    .center-wrap {
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        transform: translate(-50%, -50%);
        .scroll-img {
            width: 242px;
            height: 501px;
            position: relative;
            background: url(/dist/img/solution/food/shangjiaxianqging.png);
            background-size: 242px 501px;
            .inner {
                position: absolute;
                top: 16px;
                left: 11px;
                width: 219px;
                height: 456px;
                overflow: hidden;
                .inner-group {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 657px;
                    img {
                        float: left;
                    }
                }
            }
        }
    }
}