<% include ../../meta.ejs %>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="banner-wrap">
		<img src="/dist/img/solution/shopping/shangchengxiaochengxu_bg.png" />
	</div>
	<% include ../../modules/breadcrumb.ejs %>
	<!-- 分销商城小程序 -->
	<div class="comm-block-tw w1000">
		<div class="intro-wrap fxzx left">
			<h2>智慧餐饮小程序</h2>
			<p class="p-text">支持多门店与单门店餐饮门店方案。商家自主经营平台，订座、堂吃点餐、外卖，前厅后厨</p>
			<p class="p-text">外卖一体化智能系统。</p>
			<p class="p-gary"><span class="circle"></span>多个门店及单个门店可统一管理</p>
			<p class="p-gary"><span class="circle"></span>按照距离，销量，评分系统推荐</p>
			<p class="p-gary"><span class="circle"></span>商家自己的外卖平台，不需三方平台佣金</p>
			<p class="p-gary"><span class="circle"></span>扫码点餐，预约订桌，在线收银，功能创新</p>
			<p class="p-gary"><span class="circle"></span>签到消费送积分，开启了积分商城</p>
			<p class="p-gary"><span class="circle"></span>支持商家入驻，分销功能</p>
		</div>
		<div class="intro-img right">
			<img src="/dist/img/solution/food/canyin_app.png" />
		</div>
	</div>

	<!-- 我们的产品功能 -->
	<div class="comm-block-bg bg-list">
		<div class="comm-block classify-list w1000 clearfix relation">
			<div class="left-wrap">
				<label class="item"><span>门店管理</span><img src="/dist/img/solution/food/mendianguanli.png" /></label>
				<label class="item"><span>外卖</span><img src="/dist/img/solution/food/waimai.png" /></label>
				<label class="item"><span>订单管理</span><img src="/dist/img/solution/food/dingdanguanli.png" /></label>
				<label class="item"><span>积分商城</span><img src="/dist/img/solution/food/jifenshangcheng.png" /></label>
			</div>
			<div class="center-wrap">
				<div class="scroll-img">
					<div class="inner">
						<img src="/dist/img/solution/food/shangjiaxianqging.png" />
						<img src="/dist/img/solution/food/shangjiaxianqging.png" />
						<img src="/dist/img/solution/food/shangjiaxianqging.png" />
					</div>
				</div>
			</div>
			<div class="right-wrap">
				<label class="item"><img src="/dist/img/solution/food/mendianguanli.png" /><span>扫码点餐</span></label>
				<label class="item"><img src="/dist/img/solution/food/waimai.png" /><span>收银</span></label>
				<label class="item"><img src="/dist/img/solution/food/dingdanguanli.png" /><span>签到领积分</span></label>
				<label class="item"><img src="/dist/img/solution/food/jifenshangcheng.png" /><span>平台入驻</span></label>
			</div>
		</div>
	</div>
	<!-- 我们的营销 -->
	<div class="comm-block pb30">
		<div class="intro">
			<h2>我们的营销</h2>
		</div>
		<div class="list-wrap wmdyx clearfix">
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/youhuiquan.png" /></dt>
				<dd class="row-1">优惠券/卡券</dd>
				<dd class="row-2">多种优惠券的设置营销</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/jifen.png" /></dt>
				<dd class="row-1">满减</dd>
				<dd class="row-2">满额减免优惠</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/manjian.png" /></dt>
				<dd class="row-1">积分兑换</dd>
				<dd class="row-2">登录签到购买攒积分兑换商品</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/yuyue.png" /></dt>
				<dd class="row-1">预约</dd>
				<dd class="row-2">缺货时提前预约，不减少购买力</dd>
			</dl>
		</div>
	</div>
	<!-- 订单管理 -->
	<div class="comm-block-bg bg-yd">
		<div class="comm-block ">
			<div class="intro pb30">
				<h2>订单管理</h2>
				<p class="p-text">多种订单方式，分类统计，便于管理及费用计算统计</p>
			</div>
			<div class="order-type">
				<div class="item">
					<img src="/dist/img/solution/food/shouyinzhifu.png" />
					<div class="desc">
						<div class="type">当面付订单</div>
						<div class="intro">收银支付的订单统计</div>
					</div>
				</div>
				<div class="item">
					<img src="/dist/img/solution/food/waimaidingdan.png" />
					<div class="desc">
						<div class="type">外卖订单</div>
					</div>
				</div>
				<div class="item">
					<img src="/dist/img/solution/food/dianneidingdan.png" />
					<div class="desc">
						<div class="type">店内订单</div>
					</div>
				</div>
				<div class="item">
					<img src="/dist/img/solution/food/yuyuedingdan.png" />
					<div class="desc">
						<div class="type">预约订单</div>
						<div class="intro">订桌预约，订单接入，语音提示商家</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 扫描点餐 -->
	<div class="comm-block pb30">
		<div class="intro">
			<h2>扫描点餐</h2>
			<p class="p-text">添加餐桌，生成桌台二维码，一键扫码点餐，方便快捷</p>
		</div>
		<img src="/dist/img/solution/food/saomadiancan.png" />
	</div>

	<!-- 会员中心 -->
	<div class="comm-block-bg bg-hyzx">
		<div class="comm-block-tw w1000">
			<div class="intro-wrap fxzx left">
				<h2>会员中心</h2>
				<p class="p-gary"><span class="circle"></span>我的钱包，在线充值，支持系统余额支付</p>
				<p class="p-gary"><span class="circle"></span>签到送积分，积分统计，积分商城</p>
				<p class="p-gary"><span class="circle"></span>支持分销功能，多级分销</p>
				<p class="p-gary"><span class="circle"></span>入驻平台，成就自己的自营平台，成为别人口中的三方</p>
				<p class="p-gary"><span class="circle"></span>商家入口，支持商家移动办公，统计财务，及添加菜品，一分钟添加菜品不是梦想</p>
			</div>
			<div class="intro-img right">
				<img src="/dist/img/solution/food/huiyuanzhongxin_app.png" />
			</div>
		</div>
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>
<script type="text/javascript">
	//
	function scrollLeft() {
		$('.inner').animate({
				'left': '-190px'
			}, {
				queue: true,
				duration: 4000
			})
			.animate({
				'left': '-380px'
			}, {
				queue: true,
				duration: 4000
			})
			.animate({
				'left': '0'
			}, {
				queue: true,
				duration: 0
			});
	}
	setInterval(function() {
		scrollLeft();
	}, 8000);
</script>

</html>