<% include ../../meta.ejs %>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="banner-wrap">
	     <img src="/dist/img/solution/shopping/shangchengxiaochengxu_bg.png" height="500" />
	</div>
	<% include ../../modules/breadcrumb.ejs %>
	<!-- 分销商城小程序 -->
	<div class="comm-block-tw w1000">
		<div class="intro-wrap fxzx left">
			<h2>分销商城小程序</h2>
			<p class="p-text">为您提供高效的商城自营平台，搭建快且功能齐全，为商家提供了快捷的线上交易、商品上新</p>
			<p class="p-text">多种营销活动、分销中心、会员管理等技术支持。便</p>
			<p class="p-gary"><span class="circle"></span>利用微信及公众号粉丝转化为客户来源，助力搭建强大的线上商城人流体系</p>
			<p class="p-gary"><span class="circle"></span>各种创新营销方式有效促进转化</p>
			<p class="p-gary"><span class="circle"></span>社会化分销平台，佣金激励，有效盘活粉丝，整合粉丝人脉，提高销售效率</p>
			<p class="p-gary"><span class="circle"></span>品牌独立化，彻底告别平台佣金，商户利益分配清晰合理</p>
		</div>
		<div class="intro-img right">
			<img src="/dist/img/solution/shopping/mine_chanpin.png" />
		</div>
	</div>
	<!-- 我们的产品功能 -->
	<div class="comm-block-bg bg-cp">
		<div class="comm-block ">
			<div class="intro">
				<h2>我们的产品功能</h2>
			</div>
			<div class="comm-nav clearfix">
				<div class="item">
					<img src="/dist/img/solution/shopping/shanghuguanli.png" alt="">
					<div class="type">商品管理</div>
					<p class="des w150 tl">多个商户可自行经营，多店铺模式</p>
				</div>
				<div class="item">
					<img src="/dist/img/solution/shopping/shangpinfenlei.png" alt="">
					<div class="type">商品分类</div>
					<p class="des w150 tl">根据商品的品种，类别可分类管理，新品上架等</p>
				</div>
				<div class="item">
					<img src="/dist/img/solution/shopping/gouwuche.png" alt="">
					<div class="type">购物车</div>
					<p class="des w150 tl">将购买商品加入购物车中</p>
				</div>
				<div class="item">
					<img src="/dist/img/solution/shopping/fenxiaozhongxin.png" alt="">
					<div class="type">分销中心</div>
					<p class="des w150 tl">可设定三级分销，分销佣金设置，分销明细，分销订单，分销团队，生成分销推广二维码</p>
				</div>
				<div class="item">
					<img src="/dist/img/solution/shopping/gerenzhongxin.png" alt="">
					<div class="type">个人中心</div>
					<p class="des w150 tl">我的钱包，积分，余额，我的订单，收藏等会员中心功能</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 商品管理 -->
	<div class="comm-block pb30">
		<div class="intro">
			<h2>我们的营销应用</h2>
		</div>
		<div class="list-wrap clearfix">
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/miaosha.png" /></dt>
				<dd class="row-1">限时秒杀</dd>
				<dd class="row-2">已优惠价格限时购买</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/pintuan.png" /></dt>
				<dd class="row-1">拼团</dd>
				<dd class="row-2">多人自动成团模式以优惠价格购买</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/jifen.png" /></dt>
				<dd class="row-1">积分兑换</dd>
				<dd class="row-2">登录签到购买攒积分兑换商品</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/yuyue.png" /></dt>
				<dd class="row-1">预约</dd>
				<dd class="row-2">缺货时提前预约，不减少购买力</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/youhuiquan.png" /></dt>
				<dd class="row-1">优惠券/卡券</dd>
				<dd class="row-2">多种优惠券的设置营销</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/manjian.png" /></dt>
				<dd class="row-1">满减</dd>
				<dd class="row-2">满额减免优惠</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/hongbao.png" /></dt>
				<dd class="row-1">裂变红包</dd>
				<dd class="row-2">邀请好友分红包</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/solution/shopping/choujiang.png" /></dt>
				<dd class="row-1">抽奖</dd>
				<dd class="row-2">拼手气抽大奖，九宫格模式抽奖</dd>
			</dl>
		</div>
	</div>
	<!-- 商品管理 -->
	<div class="comm-block-bg bg-spgl">
		<div class="comm-block-tw w1000">
			<div class="intro-wrap fxzx  right">
				<h2>商品管理</h2>
				<p class="p-text">商品可进行任意分类，热销，推荐</p>
				<p class="p-text">添加商品快捷高效，可直接ID获取，操作方便</p>
				<p class="p-text">一键生成商品海报，一键分享</p>
			</div>
			<div class="intro-img left">
				<img src="/dist/img/solution/shopping/shangpinguanli_app_bg.png" />
			</div>
		</div>
	</div>
	<!-- 分销中心 -->
	<div class="comm-block-tw w1000">
		<div class="intro-wrap intro-fxzx fxzx  left">
			<h2 class="pl80">分销中心</h2>
			<dl class="clearfix">
				<dt><img src="/dist/img/solution/shopping/fenxiaoshang.png" /></dt>
				<dd>分销商：多个分销商的加入， 多层分销模式，开启分销内购，分销商自己购买商品，享受一级佣金，上级享受二级佣金，上上级享受三级佣金，形成系统化分销体系</dd>
			</dl>
			<dl class="clearfix">
				<dt><img src="/dist/img/solution/shopping/fenxiaodingdan.png" /></dt>
				<dd>分销订单独立统计，轻松打理各个分销商利润管理，各个分销商利润分配清晰合理</dd>
			</dl>
			<dl class="clearfix">
				<dt><img src="/dist/img/solution/shopping/pingtaiyongjin.png" /></dt>
				<dd>彻底告别平台佣金，可自行分配佣金，佣金激励有效盘活粉丝，整合粉丝人群，扩大销售范围，提高销售效率</dd>
			</dl>
		</div>
		<div class="intro-img right">
			<img src="/dist/img/solution/shopping/fenxiaozhongxin_app.png" />
		</div>
	</div>
	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>