<% include ../../meta.ejs %>
<meta name="keywords" content="童忆园,tongyiyuan,幼儿园,幼儿园集团管理,育儿教育,幼儿园教务管理,幼儿园园务管理,幼儿园教职工档案管理,幼儿园宣传招生,家园互动,幼儿园财务管理" />
<meta name="description" content="童忆园致力于通过大数据及物联网技术,推动幼儿园信息化进程。即通过集团管理,园务管理、教务教学管理、家园互动等软硬件服务,为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案,为幼儿园创造价值,推动幼儿园快速健康发展,同时关怀幼儿健康成长,让家长更放心。童忆园官网www.itongyiyuan.com" />
<title>
	<%=title%>
</title>
</head>

<body>
	<div class="enter-banner">
		<!--登录前-->
		<div class="log">
			<span class="logo"></span>
			<div class="username">
				<i></i>
				<input type="text" placeholder="用户名" />
			</div>
			<div class="password">
				<i></i>
				<input type="password" placeholder="密码" />
			</div>
			<span class="login">登录</span>
		</div>
		<!--登录后-->
		<div class="enter-inner" style="display: none;">
			<div class="title clearfix">
				<span class="lable">请选择学校</span>
				<div class="info">
					<span>张小明</span>
					<span class="exit">退出</span>
				</div>
			</div>
			<div class="content clearfix">
				<div class="item" title="郑州市金水区幼儿园">郑州市金水区幼儿园</div>
				<div class="item" title="郑州市金水区幼儿园郑州市金水区幼儿园">郑州市金水区幼儿园郑州市金水区幼儿园</div>
				<div class="item" title="郑州市金水区幼儿园">郑州市金水区幼儿园</div>
				<div class="item" title="郑州市金水区幼儿园">郑州市金水区幼儿园</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		$(".login").on("click",function(){
			$(".log").hide();
			$(".enter-inner").show();
		})
	})
</script>
</html>