<% include ../../meta.ejs %>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="banner-wrap cooper">
		<img src="/dist/img/cooperation/qudaohezuo_bg.png" height="500" />
	</div>
	<!-- 我们的服务项目 -->
	<div class="comm-block operate-list">
		<div class="intro">
			<h2 class="mb20">我们的服务项目</h2>
			<p class="p-text pb30">专业的技术团队，打造您的定制服务</p>
		</div>
		<div class="comm-nav clearfix">
			<div class="item">
				<img src="/dist/img/operate/yunyingpeixun_icon.png" alt="">
				<div class="type">运营培训</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/kefuyunying_icon.png" alt="">
				<div class="type">客服运营</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/yingxiaocehua_icon.png" alt="">
				<div class="type">营销策划</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/neirongyunying_icon.png" alt="">
				<div class="type">内容运营</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/yinliutuiguang_icon.png" alt="">
				<div class="type">引流推广</div>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>微活动营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>社群营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>小程序经验诊断</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
			</div>
		</div>
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>运营培训</h2>
				<img src="/dist/img/operate/yunyingpeixun_icon.png">
				<p>专业的讲师培训，每次课程1小时，费用800元</p>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>运营培训</h2>
				<img src="/dist/img/operate/kefuyunying_icon.png">
				<p>专业的讲师培训，每次课程1小时，费用800元</p>
			</div>
		</div>
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>微活动营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>社群营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>小程序经验诊断</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>微活动营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>社群营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>小程序经验诊断</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
			</div>
		</div>
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>运营培训</h2>
				<img src="/dist/img/operate/yingxiaocehua_icon.png">
				<p>专业的讲师培训，每次课程1小时，费用800元</p>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>运营培训</h2>
				<img src="/dist/img/operate/neirongyunying_icon.png">
				<p>专业的讲师培训，每次课程1小时，费用800元</p>
			</div>
		</div>
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>微活动营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>社群营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>小程序经验诊断</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>微活动营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>社群营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>小程序经验诊断</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
			</div>
		</div>
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>运营培训</h2>
				<img src="/dist/img/operate/yinliutuiguang_icon.png">
				<p>专业的讲师培训，每次课程1小时，费用800元</p>
			</div>
		</div>
	</div>

	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>