<% include ../../meta.ejs %>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="banner-wrap cooper">
		<img src="/dist/img/operate/yunyingtuiguang_bg.png" height="500"/>
	</div>
	<!-- 我们的服务项目 -->
	<div class="comm-block operate-list">
		<div class="intro">
			<h2 class="mb20">我们的服务项目</h2>
			<p class="p-text pb30">专业的技术团队，打造您的定制服务</p>
		</div>
		<div class="comm-nav clearfix">
			<div class="item">
				<img src="/dist/img/operate/yunyingpeixun_icon.png" alt="">
				<div class="type">运营培训</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/kefuyunying_icon.png" alt="">
				<div class="type">客服运营</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/yingxiaocehua_icon.png" alt="">
				<div class="type">营销策划</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/neirongyunying_icon.png" alt="">
				<div class="type">内容运营</div>
			</div>
			<div class="item">
				<img src="/dist/img/operate/yinliutuiguang_icon.png" alt="">
				<div class="type">引流推广</div>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>微活动营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何用小程序各种裂变营销工具提升销量和流量</p>
				</div>
				<div class="block">
					<h2>社群营销培训</h2>
					<p class="p-gary"><span class="circle"></span>教你如何利用微信社群，进行潜客挖掘，提升店铺销量</p>
				</div>
				<div class="block">
					<h2>小程序经验诊断</h2>
					<p class="p-gary"><span class="circle"></span>针对客户需求，提出经营诊断及优化建议</p>
				</div>
			</div>
		</div>
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>运营培训</h2>
				<img src="/dist/img/operate/yunyingpeixun_icon.png">
				<p>专业的讲师培训，每次课程1小时，费用800元</p>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>客服运营</h2>
				<img src="/dist/img/operate/kefuyunying_icon.png">
				<p>专业的讲师培训，课程为全年课程，30000元/年</p>
			</div>
		</div>
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>社群维护及推广</h2>
					<p class="p-gary"><span class="circle"></span>将各类引流活动及企业大事件，在各大社群进行推广，并进行客群维护</p>
				</div>
				<div class="block">
					<h2>平台客服服务</h2>
					<p class="p-gary"><span class="circle"></span>7*24小时在线为客户解难答疑</p>
				</div>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>节日营销</h2>
					<p class="p-gary"><span class="circle"></span>抓住节日流量，帮助企业利用创意活动快速提升销</p>
				</div>
				<div class="block">
					<h2>商城转化</h2>
					<p class="p-gary"><span class="circle"></span>加强与消费者的互动，提升用户购买和转化率</p>
				</div>
				<div class="block">
					<h2>线下会销</h2>
					<p class="p-gary"><span class="circle"></span>根据客户需求，为其定制符合实际需求的会销创意方案</p>
				</div>
			</div>
		</div>
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>营销策划</h2>
				<img src="/dist/img/operate/yingxiaocehua_icon.png">
				<p>只包含方案策划费用1000元/次，单项服务小包价格10000元/12次</p>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>内容运营</h2>
				<img src="/dist/img/operate/neirongyunying_icon.png">
				<p>12000元(45篇原创文案撰写并排版；20张图片设计；H5页面设计一次</p>
			</div>
		</div>
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>文案撰写</h2>
					<p class="p-gary"><span class="circle"></span>根据客户需求，策划吸睛且有亮点文案内容，展现企业气质</p>
				</div>
				<div class="block">
					<h2>H5页面设计</h2>
					<p class="p-gary"><span class="circle"></span>根据客户需求进行H5的创意设计，可随手转发到朋友圈，传播更便捷</p>
				</div>
				<div class="block">
					<h2>排版优化</h2>
					<p class="p-gary"><span class="circle"></span>根据客户提供的文字素材，进行精美排版</p>
				</div>
				<div class="block">
					<h2>图片设计</h2>
					<p class="p-gary"><span class="circle"></span>根据客户需求进行各类宣传图片的设计，如节日节点品宣图、banner图</p>
				</div>
			</div>
		</div>
	</div>
	<div class="comm-block-tw comm-block-h">
		<div class="outer-wrap">
			<div class="middle middle-l">
				<div class="block">
					<h2>朋友圈广告</h2>
					<p class="p-gary"><span class="circle"></span>精准客群朋友圈智能展现，增加在线销量，轻松瞄准您的目标客户</p>
				</div>
				<div class="block">
					<h2>微信公众号广告</h2>
					<p class="p-gary"><span class="circle"></span>利用微信公众号进行图文推广，简单直观</p>
				</div>
				<div class="block">
					<h2>微信公众大号推广</h2>
					<p class="p-gary"><span class="circle"></span>利用各类行业大号资源，助力快速曝光引流</p>
				</div>
				<div class="block">
					<h2>今日头条、搜狐号、百家号等自媒体推广</h2>
					<p class="p-gary"><span class="circle"></span>利用各大自媒体平台进行图文推广，智能推荐轻松吸收精准粉</p>
				</div>
				<div class="block">
					<h2>抖音、腾讯微视视频推广</h2>
					<p class="p-gary"><span class="circle"></span>创意视频拍摄并制作，快速吸粉(40000元（100分钟视频拍摄及制作）)</p>
				</div>
			</div>
		</div>
		<div class="outer-wrap bg-gary">
			<div class="middle middle-r">
				<h2>引流推广</h2>
				<img src="/dist/img/operate/yinliutuiguang_icon.png">
				<p>只包含方案策划费用1000元/次，单项服务小包价格1000元/12 次</p>
			</div>
		</div>
	</div>

	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>