@charset "UTF-8";
.breadcrumb-wrap {
    width: 100%;
    background: #EFF9FF;
    .breadcrumb {
        width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
        .hone-icon{
        vertical-align: bottom;
        }
        a {
            color: #666;
            &.active {
                color: $brand-base; 
            }
        }
    }
}