@charset "UTF-8";
.head-wrap {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    .head {
        padding: 0 50px;
        margin: 0 auto;
        min-width: 1000px;
        height: 80px;
        .logo {
            margin-top: 20px;
            display: inline-block;
            float: left;
            &:hover {
                opacity: .8;
            }
        }
        .r-wrap {
            line-height: 80px;
            float: right;
            .nav {
                display: inline-block;
                margin-right: 30px;
                .item {
                    display: inline-block;
                    position: relative;
                    a {
                        padding: 0 24px;
                        display: inline-block;
                        &.active {
                            border-bottom: 3px solid $brand-primary;
                            color: $brand-primary;
                        }
                    }
                }
            }
            .login-btn {
                width: 91px;
                display: inline-block;
                background: url(/dist/img/index/Top_navigation_jianbian.png) no-repeat center;
                text-align: center;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}

.gzh {
    padding-left: 10px;
    img {
        padding-right: 10px;
    }
}

.nav2 {
    width:338px; 
    position: absolute;
    top:70px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 2px 6px #666;
    border-radius: 2px;
    ul {
        float: left;
        border-right: 1px solid #f0f0f0;
        padding: 4px;
        line-height: 1.8; 
        text-align: center;
        font-size: 15px;
        min-height: 110px;
        .title{
            color: $brand-primary;
        }
        a{
            border-bottom:0;
            padding: 0 4px !important;
        }  
    }
}