<% include ../../meta.ejs %>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="banner-wrap cooper">
		<img src="/dist/img/cooperation/qudaohezuo_bg.png" height="500" />
		<div class="introduce">
			<div class="desc">我们是基于小程序互联网+SaaS服务商，我们致力于为商城餐饮企业服务型商户解决：客流、效率、数据、资金、运营五大难题； 适用于各行各业，改变原有的APP下载模式，使小程序的使用更加方便快捷，目 前宇信正在招募合作伙伴，携手开拓小程序市场，一起为企业客户创造优势产品！</div>
			<p> 但以下3 类人勿扰：</p>
			<p>1.神话小程序，想以虚假服务蒙骗商户，收取高额入驻费用，谋求暴利者，勿扰。</p>
			<p>2.目光短浅，认为小程序没有发展前景，零关注做此项目者，勿扰。</p>
			<p>3.安于现状，对自身未来没有追求，没有奋斗欲望者，勿扰。</p>
		</div>
	</div>
	<div class="how-todo">
		<h2> 我们怎样呢？</h2>
		<p><span class="title">专业的技术团队：</span>现我公司拥有北上广资深小程序开发人员，同时拥有多种小程序模板方案，餐饮，商城，</p>
		<p><span class="title"></span>官方企业，婚纱摄影，商圈，微课堂等可满足多大多数行业商户的需求</p>
		<p><span class="title">完善的服务操作：</span>小程序注册，公众号注册，微信认证，都可为商户代办操作。</p>
		<p><span class="title">高效制作：</span>小程序5-7天就可以实现90%以上的功能，大大降低了技术门槛</p>
		<div class="order-type efficiency">
			<div class="item">
				<img src="/dist/img/cooperation/zhuanye_icon.png" />
			</div>
			<div class="item">
				<img src="/dist/img/cooperation/quanmian_icon.png" />
			</div>
			<div class="item">
				<img src="/dist/img/cooperation/gaoxiao_icon.png" />
			</div>
		</div>
	</div>

	<!-- 招募政策 -->
	<div class="comm-block w1000 mt120 pb30">
		<div class="intro">
			<h2>招募政策</h2>
		</div>
		<div class="recruit-wrap clearfix">
			<div class="img-wrap">
				<img src="/dist/img/cooperation/daili_icon.png" />
			</div>
			<div class="recru-desc">
				<div class="item">
					<h3>预存模式</h3>
					<p class="p-gary"><span class="circle"></span>品牌独立化，彻底告别平台佣金，商户利益分配清晰合理</p>
				</div>
				<div class="item">
					<h3>代理折扣</h3>
					<p class="p-gary"><span class="circle"></span>品牌独立化，彻底告别平台佣金，商户利益分配清晰合理</p>
				</div>
				<div class="item">
					<h3>售后服务</h3>
					<p class="p-gary"><span class="circle"></span>品牌独立化，彻底告别平台佣金，商户利益分配清晰合理</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 加盟流程 -->
	<div class="comm-block">
		<div class="intro">
			<h2>加盟流程</h2>
		</div>
		<div class="list-wrap flow clearfix">
			<dl class="item">
				<dt><img src="/dist/img/cooperation/yewujiatan.png" /></dt>
				<dd class="row-1">业务洽谈</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/cooperation/hetongqianding.png" /></dt>
				<dd class="row-1">合同签订</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/cooperation/zhifukuanxiang.png" /></dt>
				<dd class="row-1">支付款项</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/cooperation/quanxiankaitong.png" /></dt>
				<dd class="row-1">权限开通</dd>
			</dl>
			<dl class="item">
				<dt><img src="/dist/img/cooperation/chanpinsheoumai.png" /></dt>
				<dd class="row-1">产品售卖</dd>
			</dl>
		</div>
	</div>
	<!-- 报名 -->
	<div class="comm-block-bg bg-bm">
		<div class="comm-block">
			<div class="recruit-wrap clearfix">
				<div class="img-wrap">
					<img src="/dist/img/cooperation/hezuohuoban_icon.png" />
					<img src="/dist/img/cooperation/right_icon.png" class="next-icon" />
				</div>
				<div class="apply-wrap">
					<label class="label-row">
						<span>姓名</span>
						<input class="form-control" type="text" name="" id="" value="" autofocus="autofocus" placeholder="请输入姓名" />
					</label>
					<label class="label-row">
						<span>手机号</span>
						<input class="form-control" type="text" name="" id="" value="" placeholder="请输入手机号" />
					</label>
					<label class="label-row">
						<span>您的身份</span>
						<select class="form-control" name="">
							<option value=""></option>
						</select>
					</label>
					<label class="label-row">
						<span>加入类型</span>
						<select class="form-control" name="">
							<option value=""></option>
						</select>
					</label>
					<label class="label-row">
						<span>感兴趣产品</span>
						<select class="form-control" name="">
							<option value=""></option>
						</select>
					</label>
					<label class="label-row">
						<span class="vt">备注其他</span>
						<textarea style="resize: none;" class="form-control textarea" name="" rows="" cols="" placeholder="您想说点什么"></textarea>
					</label>
				</div>
			</div>
		</div>
	</div>

	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>

</html>