<% include ../../meta.ejs %>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>
	<%=title%>
</title>
</head>

<body>
	<!--头部-->
	<% include ../../modules/header.ejs %>
	<div class="banner-wrap cooper">
		<img src="/dist/img/aboutUs/guanyuwoman_bg.png" height="500" />
	</div>
	<% include ../../modules/breadcrumb.ejs %>

	<!-- 公司简介 -->
	<div class="comm-block company-intro w1000 clearfix">
		<ul class="nav-left">
			<li class="active">宇信简介</li>
			<li>企业文化</li>
			<li>业务体系</li>
			<li>发展历程</li>
		</ul>
		<div class="content-right">
			<div class="tab-item">
				<div class="content">

					河南宇信通讯科技有限公司成立于 2006 年，注册资金 1000 万元，是一家以“互联网+”学前教育创新体系研究、创新主体研发、创新软硬件推广普及服务为主的行业信息化整体解决方案提供商和运营商。目前宇信科技以家育平台“童忆园”为核心主业务，全力推动中国幼教信息化进程。 公司拥有来自北上广深的高精尖互联网研发和运营团队，经过多年积累，公司在移动通讯、物联网、大数据开发和分析、移动办公、小程序等多个行业和领域具备强大的技术开发能力和项目运作能力，能够为全行业提供从系统搭建到运营推广的 SaaS 云技术服务。目前已开发运营、移动通讯大数据平台、智能移动办公平台“神洲乐办”、宇信小程序服务平台等多种商用产品和服务。旨在帮助客户更快捷的实现传统业务向移动互联网的迁移，用科技驱动企业发展进程。
				</div>
			</div>
			<div class="tab-item hide">
				<div class="nav2-right">
					<span class="item active">管理理念</span>
					<span class="item">价值观</span>
				</div>
				<div class="content">
					<div class="level2">

						<h3>（一）管理＝关注+成长</h3>

						<p>想要一个公司得到长远的发展，人才的意义不容忽视，为了公司和个人的发展，必须持续关注员工的能力，帮助每位员工树立正确的价值观，在不断学习及改进过程中，不断成长， 提升自身及企业竞争力，快速适应个人及公司的发展需求。</p>

						<h3>（二）管理的本质：无为而治；激发和释放每一个人的善意；</h3>

						<h3>（三）管理者的工作：      四感（参与感、成就感、荣誉感、使命感）</h3>

						<p>参与感：即员工对本职工作有基本的认可，他愿意做也认为自己能做好的工作。有了参与感才会有归属感，最后才会有成就感；</p>

						<p>成就感：设定目标，并通过努力实现了既定目标，得到认可，获得的满足感。荣誉感：即用户对公司的认可，行业对公司的尊敬。一个有荣誉感的人，团队强大了、攻克了难关，他会感到骄傲、自豪。</p>

						<p>有荣誉感的人时刻会用自己的思想与行动来捍卫荣誉，一荣俱荣，一辱俱辱。出于荣誉感，对自己工作的要求更高，对外更加的捍卫公司；</p>

						<p>使命感：使命是一种责任，一种状态，也是一种愿景，更是一种锲而不舍、坚韧不拔、不达目的不罢休的追求精神。在企业里，对工作有使命感的员工，他们目标远大，工作进取，踏实肯干，是企业开拓市场、生存发展的骨干与中坚。</p>

						<h3>（四）团队管理五要素：信任、目标、流程、承诺、沟通</h3>

						<p>信任：是一个团队的基础。如果管理者能够在团队内部建立起坚实的信任基础，那么管理者的管理成本就会大大降低。 建立信任的三个方面：1、行言一致；2、共赢思维；3、公开透明。</p>

						<h3>目标</h3>
						<p>目标符合 SMART 原则，管理者按照 SMART 原则来为团队制定目标；</p>

						<p>挖掘目标背后的意义，目标应该遵循具体的、可量化、可实现、相关性、时限性的原则；</p>

						<p>目标取得团队共识。</p>
						<h3>流程</h3>

						<p>利用 PDCA 进行流程管理，结合流程再造理念来不断优化流程；</p>

						<p>做好计划——分工执行——过程检查——总结优化。</p>
						<h3>承诺</h3>

						<p>营造“勇于承担”的团队文化；</p>

						<p>注重前期的铺垫与沟通；</p>

						<p>充分沟通任务的意义和资源；</p>

						<p>及时跟踪任务进度，做好激励；</p>

						<p>当项目完成时，对团队或成员及时给予激励，庆祝成功。</p>
						<h3>沟通</h3>

						<p>有话愿说；</p>

						<p>有话直说；</p>

						<p>有话好好说。</p>

					</div>
					<div class="level2 hide">
						<h3>诚信</h3>
						<p>坚守承诺：遵守承诺、不找借口；全力以赴、达成目标</p>
						<p>值得信赖：为人正直、坦诚相待；爱岗敬业、忠于职守</p>
						<h3>团结</h3>
						<p>志同道合：自律自强、团结一致；形有涵养、学有潜力</p>
						<p>同心协力：团结一致、齐心协力；奋斗拼搏、再创佳绩</p>
						<h3>务实</h3>
						<p>勇于实践：道虽迩，不行不至；事虽小，不为不成</p>
						<p>实事求是：脚踏实地、孜孜以求；开拓创新，不断进取</p>
						<h3>发展</h3>
						<p>发扬光大：追求卓越、持续精进；</p>
						<p>大有可为：目光远大、与日俱进；</p>
						<p>企业定位：学前教育信息化生态体系解决方案提供商</p>
						<p>企业使命：用科技创新擎动学前教育美好未来</p>
						<p>企业宗旨：创新是动力之源，教育是民生之首</p>
						<p>企业愿景：打造生态共赢的学前教育生态体系</p>
						<p>发展理念：勇于开拓、敢于进取、互助共进</p>
						<p>经营理念：实现基于互联网+大数据的智能信息化平台，构建创新体系，打造智能系统生态圈</p>
						<p>服务理念：客户至上、开放协作、持续创新</p>
						<p>管理理念：理想一致、目标一致、行动一致</p>
						<p>制度准则：以人为本、外圆内方</p>
						<p>团队理念：培养人，改造人</p>
						<p>团队管理的核心：企兴我荣，企衰我辱；今天工作不努力，明天努力找工作</p>
						<p>人才理念：人适其位、位适其人；为人才提供平等的机会和有竞争力的薪酬</p>
						<p>企业核心价值观 诚信、团结、务实、发展</p>
					</div>
				</div>
			</div>
			<div class="tab-item hide">
				<div class="content">

					<h3>业务体系</h3>

					<p>在移动通讯、物联网、大数据开发和分析、移动办公、小程序等多个行业和领域具备强大的技术开发能力和项目运作能力，能够为全行业提供从系统搭建到运营推广的 SaaS 云技术服务。目前已开发运营、移动通讯大数据平台、智能移动办公平台“神洲乐办”、宇信小程序服务平台等多种商用产品和服务。旨在帮助客户更快捷的实现传统业务向移动互联网的迁移，用科技驱动企业发展进程</p>

					<h3>主业务</h3>

					<p>童忆园，河南宇信通讯科技有限公司自主设计、研发、运营的智慧校园云平台，为幼儿园提供数字校园建设、知识校园建设、品牌校园建设一体化解决方案。童忆园以教务信息化、教学可视化、沟通及时化、启蒙多元化、发展持续化为开发理念，帮助幼儿园解决实际运营中的痛点，助其提升创新办园实力，实现数字化办园，达到角色多样化、园务智能化、沟通扁平化、监管网格化的管理目标。童忆园，依托宇信科技十余年的行业积累，截止 2018 年 6 月，童忆园业务已扩展至河南 18 个地市，3000+所幼儿园、40000+名老师、600000+家长的用户规模。</p>
                     <h3>其他服务项目</h3>
                     <div class="img-group">
                     	<img src="/dist/img/aboutUs/dianshangxiaochengxu.png"/>
                     	<img src="/dist/img/aboutUs/guanwangxiaochengxu.png"/>
                     </div>
                     <div class="img-group">
                     	<img src="/dist/img/aboutUs/zhihuicanyin.png"/>
                     	<img src="/dist/img/aboutUs/mendianxiaochengxu.png"/>
                     </div>
                     <div class="img-group">
                     	<img src="/dist/img/aboutUs/teshudingzhi.png"/>
                     	<img src="/dist/img/aboutUs/xiaochengxudawanfa.png"/>
                     </div>
				</div>
			</div>
			<div class="tab-item hide">
				<div class="content">
					<img src="/dist/img/aboutUs/fazhanlicheng_bg.png"/>
				</div>
			</div>
		</div>
	</div>

	<!--尾部-->
	<% include ../../modules/footer.ejs %>
</body>
<script type="text/javascript">
	$(function() {
		$(".nav-left li").on("click", function() {
			$(this).addClass("active").siblings().removeClass("active");
			$(".tab-item").eq($(this).index()).removeClass("hide").siblings(".tab-item").addClass("hide");
		});
		$(".nav2-right .item").on("click", function() {
			$(this).addClass("active").siblings().removeClass("active");
			$(".level2").eq($(this).index()).removeClass("hide").siblings(".level2").addClass("hide");
		});
	})
</script>

</html>